body {
    background-color: rgb(177, 209, 218);
}

h1{
    color: black
    font-family: calibri;
    text-align: center;
}

p {
    color: whitesmoke;
    font-family: calibri;
    font-size: 20px;
}

#mypath {
    height:  430px;
    width: 100%
}

